.Image-gallery {
  display: flex;
  max-width: 1024px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Image-gallery figure {
  flex: auto;
  flex-direction: column;
  padding: .5vw;
  box-sizing: border-box;
  animation-duration: 5;
}

.Image-gallery figure:hover {
  background-color: #000;
}

.Image-gallery img {
  display: block;
  max-width: 100%;
  height: auto;
}

.Image-gallery figcaption {
  font-size: 0.75em;
  position: relative;
  margin-top: -2em;
  background: #000;
  opacity: 0.6;
  color: #fff;
  padding: 0.5em;
}
