html {
  background: url('/img/background.png');
}
main.charlie {
  flex: 1;
  min-height: 100px;
}
footer {
  background: #202020;
  color: #fff;
  padding: 1em;
}

.Container {
  margin: 0 auto;
  padding: 0 15px;
  width: 80vw;
}

.Container--Full {
  width: 80vw;
}
